<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <property name="hibernate.connection.driver_class">org.sqlite.JDBC</property>
        <property name="hibernate.connection.url">jdbc:sqlite:src/main/resources/db.sqlite3</property>
        <property name="hibernate.dialect">org.hibernate.dialect.SQLiteDialect</property>
        <property name="show_sql">false</property>

        <!-- Classes -->
        <mapping class="users.objects.User"/>
        <mapping class="products.objects.Product"/>
        <mapping class="products.objects.BranchProduct"/>
        <mapping class="stores.objects.Store"/>
        <mapping class="branches.objects.Branch"/>
        <mapping class="primary_accounts_and_indicators.primary_accounts.PrimaryAccount"/>
        <mapping class="primary_accounts_and_indicators.primary_accounts.PrimaryAccountBranch"/>

    </session-factory>

</hibernate-configuration>